$color-titulos:white;
$bgcolor-aqua:linear-gradient(70deg, rgb(152, 207, 209), rgb(50, 141, 146));

//mapa de colores
$colors:(primary:white,secundary:whitesmoke,secundary-light:lighten(aqua,40%),bg-hovercolor:#E2EB98);

//breakpoint
$desktop:768px;

//tipografia
$font-title:'Light';
$font: 'RobotoRegular';

